@font-face {
    font-family: 'Gosha Sans';
    src: local('Gosha Sans Regular'), local('Gosha-Sans-Regular'),
        url('./GoshaSans-Regular/GoshaSans-Regular.woff2') format('woff2'),
        url('./GoshaSans-Regular/GoshaSans-Regular.woff') format('woff'),
        url('./GoshaSans-Regular/GoshaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pangram';
    src: local('Pangram Medium'), local('Pangram-Medium'),
        url('./Pangram-Medium/Pangram-Medium.woff2') format('woff2'),
        url('./Pangram-Medium/Pangram-Medium.woff') format('woff'),
        url('./Pangram-Medium/Pangram-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }