@import "../../animation.scss";
.content{
    width: 100%;
    opacity: 0;
    img{
        width: 100%;
    }
}
.active{
    opacity: 1;
    transition: 1s;
}
.desc{
    font-size: 17px;
    text-align: center;
}