.block3{
    height: 100vh;
    width: 100%;
    max-height: 1080px;
    padding: 65px 25px 0 25px !important;
    position: relative;
    .block3__elipse1{
        position: absolute;
        right: -650px;
        top: 0;
        z-index: 0;
        width: 1000px;
        filter: blur(40px);
    }
    .block3__elipse2{
        z-index: 0;
        position: absolute;
        left: -500px;
        bottom: 0;
        width: 700px;
        filter: blur(30px);
    }
    h1{
        margin-bottom: 50px;
    }
    .block1__elipse1{
        position: absolute;
        top: -71px;
        left: -441px;
        width: 750px;
        height: 750px;
    }
    .block3__row{
        position: relative;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .block3__lc{
            width: 50%;
        }
        .block3__rc{
            width: fit-content;
        }
    }
    .block3__brands{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        img{
            margin-right: 100px;
            height: 20px;
        }
    }
    .block3__footer{
        h1{
            margin: 50px 0 0 0 ;
        }
        .block3__content{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 30px;
            p{
                width: fit-content;
                display: inline-block;
            }
            .mybutton{
                background: none;
                border: 1px #fff solid;
                background-position: center;
                width: 275px;
                height: 72px;
                font-family: 'Pangram';
                font-size: 17px;
                color: #fff;
                border-radius: 100px;
                cursor: pointer;
                span{
                    position: relative;
                    transition: .8s;
                    margin-right: 18px;
                }
                img{
                    position: relative;
                    transition: .5s;
                    position: relative;
                    top: 4px;
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .slide__wrapper{
            height: fit-content;
            border-radius:  30px;
            background: linear-gradient(0deg, rgba(20, 22, 29, 0.2), rgba(20, 22, 29, 0.2)), linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
            .slide{
                transition: all 1s;
                position: relative;
                padding: 25px;
                overflow: hidden;
                border: 0.75px solid;
                border-image-source: linear-gradient(360deg, #0C3483 0%, #A2B6DF 108.33%, #6B8CCE 108.33%);
                border-radius: 30px;
                background: linear-gradient(0deg, rgba(20, 22, 29, 1), rgba(20, 22, 29, 1)) padding-box, linear-gradient(360deg, #0C3483 0%, #A2B6DF 108.33%, #6B8CCE 108.33%) border-box;
                border: 1px solid transparent;
                h3{
                    transition: all .8s;
                    font-size: 22px;
                    font-family: 'Gosha Sans';
                    z-index: 5;
                    position: relative;
                }
                p{
                    font-size: 13px;
                    margin: 30px 0;
                    z-index: 5;
                    position: relative;
                }
                a{
                    position: relative;
                    z-index: 5;
                    cursor: pointer;
                }
                &::after{
                    content: "";
                    position: absolute;
                    opacity: 0.5;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: linear-gradient(112.85deg, #0C3483 25.47%, #A2B6DF 90.88%, #6B8CCE 90.88%); filter: blur(37.8725px);
                    transform: rotate(-168.48deg);
                    z-index: 1;
                }
            }
        }
        
    }
   
}