@keyframes links-hover{
    0%{
        opacity: 0;
        bottom: -20px;
    }
    100%{
        opacity: 1;
        bottom: -5px;
    }
}
@keyframes button-hover {
    0%{
        background-size: 0% 0%;
    }
    100%{
        background-size: 100% 100%;
    }
}
@keyframes block2-image {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}