@import "./fonts/fonts.scss";

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: 'Pangram';
    font-weight: 500;
    background-color: #14161D;
    color: #fff;
    font-size: 20px;
    box-sizing: border-box;
    overflow-y: hidden;

    .container{
        max-width: 1650px;
        margin: 0 auto;
        padding: 0px 25px;
        box-sizing: border-box;
    }
    h1{
        font-size: 65px;
        font-family: 'Gosha Sans';
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    h1, h2, p{
        margin: 0;
        padding: 0;
    }
}
.block2__button_active{
    box-shadow: #0C3483 1px 1px 0px 1px, #6B8CCE 0px 0px 0px 2px !important;
    background: linear-gradient(112.85deg, #182745 25.47%, #2B3A5B 90.88%, #1B202B 120%) !important;
    backdrop-filter: blur(120px);
}


 .swiper-slide{
    display: flex;
    justify-content: center;
 }