@import "./fonts/fonts.scss";

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: 'Pangram';
    font-weight: 500;
    background-color: #14161D;
    color: #fff;
    font-size: 20px;
    box-sizing: border-box;
    overflow: hidden;

    .container{
        max-width: 1650px;
        margin: 0 auto;
        padding: 0px 25px;
        box-sizing: border-box;
    }
    h1{
        font-size: 65px;
        font-family: 'Gosha Sans';
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    h1, h2, p{
        margin: 0;
        padding: 0;
    }
}
.block2__button_active{
    box-shadow: #0C3483 1px 1px 0px 1px, #6B8CCE 0px 0px 0px 2px !important;
    backdrop-filter: blur(120px);
}

.swiper{
    padding-bottom: 30px !important;
    height: 295px;
}
.swiper-slide-active{
    h3{
        font-size: 30px !important;
    }
}
 .swiper-slide{
    display: flex;
    justify-content: center;
 }
 .swiper-pagination-progressbar{
    background-color: #ccc !important;
    height: 3px !important;
    top: 99% !important;
    z-index: 100;
 }
 .swiper-pagination-progressbar-fill{
    background: #1D438E;
 }